<%- include('../partials/head', {title: 'Articles'}) %> <%-
include('../partials/header') %>
<body>
  <div class="container content">
    <div class="grid">
      <% typeof images !== 'undefined' && images.forEach(e =>{ %>
      <div class="card">
        <img src="<%= e.data %>" alt="<%= e.name %>" />
      </div>
      <% }) %>
    </div>
  </div>
</body>

<%- include('../partials/footer') %>
