<%- include('../partials/head', {title: 'Articles'}) %> <%-
include('../partials/header') %>
<body>
  <div class="container content">
    <ul>
      <% typeof list !== 'undefined' && list.forEach(e =>{ %>
      <li><%= e.title %></li>
      <% }) %>
    </ul>
    <div><img src=" <%= image.data  %> " alt="<%= image.name %>" /></div>
  </div>
</body>

<%- include('../partials/footer') %>
